certifi
charset-normalizer
click
colorama
cycler
docopt
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
mock
nose
numba
numpy
packaging
Pillow
pip
pipreqs
Platypus
ply
pyparsing
python-dateutil
requests
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl
urllib3
Werkzeug
yarg
